<phpunit bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false">
    <testsuites>
        <testsuite name="Ken">
          <directory>tests/Ken</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="REQUEST_URI" value="/" />
        <server name="REQUEST_METHOD" value="GET" />
        <server name="HTTP_X_FORWARDED_FOR" value="" />
        <server name="SERVER_NAME" value="localhost" />
        <server name="SERVER_PORT" value="80" />
    </php>
</phpunit>
